<app-modal-view-item *ngIf="isModalViewOpen" [closeModalView]="closeModalView" [id]="selectedId" />
<app-modal-create-item *ngIf="isModalCreateOpen" [closeModalCreate]="closeModalCreate" [refresh]="refresh" />
<app-modal-update-item *ngIf="isModalUpdateOpen" [closeModalUpdate]="closeModalUpdate" [refresh]="refresh" [id]="selectedId" />
<app-modal-delete-item *ngIf="isModalDeleteOpen" [closeModalDelete]="closeModalDelete" [refresh]="refresh" [id]="selectedId" />

<main class="flex justify-center">
  <div class="w-4/5 text-gray-800 pt-28">
    <div class="flex justify-between items-center">
      <h1 class="text-3xl font-semibold">Item</h1>
      <div class="flex items-center space-x-2">
        <div class="flex items-center border">
          <input type="text" class="py-2.5 px-4 outline-none" placeholder="Search..." (input)="searchInput($event)" (keydown)="searchKeyDown($event)"/>
          <button type="button" class="fill-gray-800 hover:fill-gray-600 py-4 px-4 transition ease-in-out" (click)="OnSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4" viewBox="0 0 512 512">
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
            </svg>
          </button>
        </div>
        <a class="inline-block border border-gray-300 font-medium cursor-pointer py-2.5 px-4 hover:bg-gray-100 transition ease-in-out" (click)="openModalCreate()">Add Item</a>
      </div>
    </div>

    <div class="overflow-x-auto mt-8">
      <table class="table table-auto w-full">
        <thead class="text-base font-semibold">
          <tr class="border-b border-b-gray-200">
            <td class="w-3/12">Name</td>
            <td class="w-2/12">Code</td>
            <td class="w-2/12">Price</td>
            <td class="w-2/12">Total Stock</td>
            <td class="w-2/12">Status</td>
            <td class="w-1/12">Action</td>
          </tr>
        </thead>
        <tbody class="border-b border-b-gray-200 text-gray-600 text-base">
          <tr *ngFor="let item of items">
            <td>{{ item.name }}</td>
            <td>{{ item.code }}</td>
            <td>{{ convertToCurrency(item.price) }}</td>
            <td>{{ item.stock }}</td>
            <td>
              <span
                [ngClass]="{
                  'bg-emerald-500 text-white': item.isAvailable,
                  'bg-gray-200 text-gray-500': !item.isAvailable
                }"
                class="text-sm py-1 px-3 rounded-md"
              >
                {{ item.isAvailable ? 'Available' : 'Unavailable' }}
              </span>
            </td>
            <td>
              <div class="flex space-x-2 w-full">
                <a class="inline-block px-2.5 py-1.5 border border-gray-300 text-gray-800 cursor-pointer hover:bg-gray-100 transition ease-in-out" (click)="openModalView(item.id)">
                  <fa-icon [icon]="faEye"></fa-icon>
                </a>
                <a class="inline-block px-3 py-1.5 bg-amber-400 text-white cursor-pointer hover:bg-amber-500" (click)="openModalUpdate(item.id)">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                </a>
                <a class="inline-block px-3 py-1.5 bg-red-500 text-white cursor-pointer hover:bg-red-600" (click)="openModalDelete(item.id)">
                  <fa-icon [icon]="faTrashCan"></fa-icon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="flex justify-between items-center mt-4 mb-40">
      <span class="block text-gray-500 font-sans">
        Showing {{ meta.size > 0 ? meta.number * meta.size + 1 : 0 }} - {{ (meta.number + 1) * meta.size > meta.totalElements ? meta.totalElements : (meta.number + 1) * meta.size }} of {{ meta.totalElements }} Data
      </span>
      <div class="flex space-x-2">
        <!-- Previous Button -->
        <button
          (click)="goToPage(meta.number)"
          class="px-4 py-2 border broder-gray-300 hover:bg-gray-100 transition ease-in-out"
          [ngClass]="{'bg-gray-50 text-gray-400 hover:bg-gray-50 border-gray-300': meta.number == 0}"
          [disabled]="meta.number == 0">
          Prev
        </button>
    
        <!-- Next Button -->
        <button
          (click)="goToPage(meta.number + 2)"
          class="px-4 py-2 border border-gray-300 hover:bg-gray-100 transition ease-in-out"
          [ngClass]="{'bg-gray-50 text-gray-400 hover:bg-gray-50 border-gray-300': meta.number + 1 == meta.totalPages || meta.totalPages <= 1}"
          [disabled]="meta.number + 1 == meta.totalPages || meta.totalPages <= 1">
          Next
        </button>
      </div>
    </div>
  </div>
</main>