<nav class="flex items-center justify-center bg-white drop-shadow-md fixed mt-0 w-full top-0">
  <div class="w-4/5 flex items-center justify-between">
    <div class="py-5 text-xl font-semibold">
      <a routerLink="">Online Shop</a>
    </div>
  
    <div class="py-5">
      <div class="">
        <ul class="flex w-full space-x-6 font-medium text-gray-500">
          <li>
            <a routerLink="/customer" routerLinkActive="text-gray-800">Customer</a>
          </li>
          <li>
            <a routerLink="/item" routerLinkActive="text-gray-800">Item</a>
          </li>
          <li>
            <a routerLink="/order" routerLinkActive="text-gray-800">Order</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>